*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Sen", sans-serif;
}


.up {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgba(35, 37, 54, 1);
   padding-left: 35px;
   padding-right: 35px;
   height: 80px;

}

.up>span {
   color: rgba(255, 255, 255, 1);
   font-size: 35px;
   Top: 25px;
   left: 83px;
}

.up>ul {
   display: flex;
   list-style: none;
   gap: 30px;
   align-items: center;
   color: rgba(255, 255, 255, 1);
}

.up>ul>li>a {
   text-decoration: none;
   color: white;
}

.b {
   height: Hug (56px);
   width: Hug (179px);
   padding-top: 16px;
   padding-right: 48px;
   padding-left: 48px;
   padding-bottom: 16px;
   background-color: rgba(255, 255, 255, 1);
   color: black;
   font-weight: 700;
}


.image {
   background-image: url("./ppl.png");
   width: 1280px;
   height: 444px;
   background-position: center;
}


.text {
   margin-left: 800px;
}

.text>p {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0px;
   color: rgb(76, 76, 76);
}

.whitebox {
   width: 624px;
   height: 356px;
   background-color: white;
   position: absolute;
   top: -100px;
   margin-left: 150px;
}

.whitebox>span {
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 3px;
   color: rgba(35, 37, 54, 1);
   text-transform: uppercase;
   margin-left: 50px;
}

.whitebox>h1 {
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   letter-spacing: -2px;
   margin-left: 50px;
}

.all {
   position: relative;
}

.purplebox {
   width: 1280px;
   height: 444px;
   background-color: rgba(244, 240, 248, 1);
}

.mission>span {
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.mission>h3 {
   font-weight: 700;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -1px;
}

.mission>p {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0px;
   color: rgba(109, 110, 118, 1);
}

.vision>span {
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.vision>h3 {
   font-weight: 700;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -1px;
}

.vision>p {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0px;
   color: rgba(109, 110, 118, 1);
}

.purplebox {
   display: flex;
   align-items: start;
   justify-content: space-between;
}

.mission {
   padding: 60px;
}

.vision {
   padding: 60px;
}

.design>.purplerectangle {
   width: 311.48px;
   height: 23px;
   background-color: rgba(89, 46, 169, 1);
}

.design>.yellowrectangle {
   width: 550px;
   height: 23px;
   background-color: rgba(255, 208, 80, 1);
}

.design {
   display: flex;
   align-items: center;
   position: absolute;
   margin-left: 80px;
   top: 533px;

}

.statsbox {
   width: 630px;
   height: 156px;
   background-color: rgba(255, 208, 80, 1);
   position: absolute;
   top: 400px;
   margin-left: 80px;
   display: flex;
   align-items: center;
   gap: 90px;
   padding: 10px;
   padding-left: 20px;
}

.stats>span {
   font-weight: 700;
   font-size: 56px;
   line-height: 64px;
   letter-spacing: -2px;
}

.handspic>img {
   width: 624px;
   height: 480px;
   margin-left: 60px;
}

.partion {
   display: flex;
   align-items: start;
   justify-content: space-between;
   flex-direction: row-reverse;
   padding: 50px;
}

.t {
   padding: 70px;
}

.partion2 {
   display: flex;
   align-items: start;
   justify-content: space-between;
   padding: 50px;
}

.t2 {
   padding: 70px;
}

.allauthors>.author1 {
   width: 296px;
   height: 324px;
   background-color: rgba(244, 244, 244, 1);

}


.author1>img {
   height: 128px;
   width: 128px;
   border-radius: 100%;
   object-fit: cover;
   margin-left: 70px;
   margin-top: 30px;
}

.author1>h3 {
   font-weight: 700;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -1px;
   text-align: center;
}

.author1>p {
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0px;
   color: rgba(109, 110, 118, 1);
   text-align: center;
}


.allauthors {
   display: flex;
   align-items: center;
   gap: 30px;
}

.author1>.socials {
   display: flex;
   justify-content: center;
   gap: 15px;
}

.socials>a {
   color: black;
}

.join {
   background-color: rgba(255, 208, 80, 1);
   font-weight: 700;
   width: Hug (174);
   height: Hug (56px);
   padding-top: 16px;
   padding-right: 48px;
   padding-left: 48px;
   padding-bottom: 16px;
   display: flex;
   margin-left: 545px;
}

























































Footer {
   background-color: rgba(35, 37, 54, 1);
}

.updates>h2 {
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   letter-spacing: -2px;
   color: rgba(255, 255, 255, 1);
}

#email {
   border: 1px solid rgba(109, 110, 118, 1);
   color: rgba(109, 110, 118, 1);
   width: 323px;
   height: 56px;
   background-color: rgba(76, 76, 76, 0);
   ;
}

.now {
   width: Hug (179px);
   height: Hug (56px);
   padding-top: 16px;
   padding-right: 48px;
   padding-left: 48px;
   padding-bottom: 16px;
   background-color: rgba(255, 208, 80, 1);
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
}


.newsbox {
   background-color: rgba(76, 76, 76, 0.276);
   width: 1100px;
   height: 256px;
   margin-top: 30px;
   margin-left: 60px;
   display: flex;
   align-items: start;
   justify-content: space-between;
   gap: 30px;

}

.updates {
   margin-left: 40px;
}

.enteremail {
   margin-top: 50px;
   margin-right: 30px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   gap: 20px;
}

.contact>span {
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   letter-spacing: 0px;
   color: rgba(255, 255, 255, 1);
   opacity: 70%;
   margin-left: 50px;
}

.contact>p {
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   letter-spacing: 0px;
   color: rgba(255, 255, 255, 1);
   opacity: 70%;
   margin-left: 50px;
}

.down {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.smh {
   display: flex;
   gap: 15px;
   margin-right: 50px;
}

.smh>a {
   color: rgba(109, 110, 118, 1);
}